label {
  font-size: 15pt;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
} /*FEITO*/
.BarrinhaBonita {
  display: flex;
  margin-top: -15px;
  margin-left: -8px;
  margin-right: -8px;
  height: 120px;
  background-color: #272121;
} /*FEITO*/
.TituloBarrinha {
  padding-top: 10px;
  padding-left: 143px;
  margin-bottom: -10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-size: 23pt;
  width: 440px;
} /*FEITO*/
.Autor {
  margin-left: 530px;
  margin-top: 85px;
  font-size: 12pt;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
} /*FEITO*/
.LogoPokemao {
  margin-left: 940px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
} /*FEITO*/
.ImagemFim {
  width: 50px;
  height: 50px;
} /*FEITO*/
.Loguinho {
  margin-top: 10px;
  margin-left: 195px;
  height: 100px;
  width: 260px;
} /*FEITO*/
body {
  background-color: #e61515;
} /*FEITO*/
.BarrinhaDeBusca {
  margin-left: 700px;
} /*FEITO*/
.busca {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 85px;
} /*FEITO*/
.BarrinhaDeBusca input {
  width: 200px;
  padding: 6px;
  border: 2px solid black;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 17px;
} /*FEITO*/
.Submit {
  padding: 6px;
  margin-left: -18px;
  margin-top: 8px;
  height: 35px;
  width: 33px;
} /*FEITO*/
.Pokemaos {
  overflow-y: scroll;
  margin-left: 380px;
  margin-top: 10px;
  height: 730px;
  width: 1120px;
  background-color: #c6bcbc;
} /*FEITO*/
.dragon {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesdragon {
  margin-left: 260px;
  background: repeating-linear-gradient(to top, rgb(75, 83, 148), #8f9af1 5px);
  /*background-color: #8F9AF1;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.ice {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesice {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(150, 190, 190),
    #d1f3f3 5px
  );
  /*background-color: #D1F3F3;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.ghost {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesghost {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(129, 126, 153),
    #beb9ec 5px
  );
  /*background-color: #BEB9EC;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.rock {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesrock {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(240, 228, 180),
    #d1ccb6 5px
  );
  /*background-color: #D1CCB6;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.psychic {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokespsychic {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(211, 104, 173),
    #ce8fb8 5px
  );
  /*background-color: #CE8FB8;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.fighting {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesfighting {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(253, 178, 151),
    #da967d 5px
  );
  /*background-color: #DA967D;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.fairy {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesfairy {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(248, 197, 252),
    #fbdffd 5px
  );
  /*background-color: #FBDFFD;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.ground {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesground {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(161, 150, 103),
    #d8c889 5px
  );
  /*background-color: #D8C889;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.poison {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokespoison {
  margin-left: 260px;
  background: repeating-linear-gradient(to top, rgb(133, 84, 160), #c8a3dc 5px);
  /*background-color: #C8A3DC;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.normal {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesnormal {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(145, 146, 132),
    #dedfd4 5px
  );
  /*background-color: #DEDFD4;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.bug {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesbug {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(175, 179, 107),
    #d8dbaf 5px
  );
  /*background-color: #D8DBAF;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.electric {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokeselectric {
  margin-left: 260px;
  background: repeating-linear-gradient(
    to top,
    rgb(197, 197, 54),
    rgb(253, 245, 173) 5px
  );
  background-color: #ece7b9;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.fire {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokesfire {
  margin-left: 260px;
  background: repeating-linear-gradient(to top, rgb(243, 18, 18), #e68b8b 5px);
  /*background-color: #E68B8B;*/
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.grass {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.imagem {
  transform: rotateY(0deg);
  transition: transform 1s;
  margin-left: 310px;
  width: 180px;
  height: 150px;
  right: 0;
} /*FEITO*/
.imagem:hover {
  transform: scale(1.1) rotate(10deg);
} /*FEITO*/
.pokesgrass {
  margin-left: 260px;
  border-radius: 10px;
  background-color: #89c091;
  /* background: repeating-linear-gradient(to top, green, #afdbb6 5px); */
  /*background: linear-gradient(to top, gree,#AFDBB6 80%);*/
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  transition: 1s;
} /*FEITO*/
.pokesgrass:hover {
  transform: scale(1.02);
  cursor: pointer;
} /*FEITO*/
.water {
  margin-bottom: 15px;
  position: relative;
  margin-top: -200px;
  margin-left: 150px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.pokeswater {
  margin-left: 260px;
  border-radius: 10px;
  background: repeating-linear-gradient(to top, rgb(99, 99, 206), #afc0db 5px);
  /*background-color:  #AFC0DB;*/
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 150px;
} /*FEITO*/
.NomeDoPoke {
  text-shadow: 1px 1px 2px black;
  margin-top: -25px;
  font-size: 30pt;
  margin-left: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.NumDoPoke {
  margin-left: 30px;
  margin-top: -150px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: #393933;
} /*FEITO*/
ul {
  list-style-type: none;
  display: grid;
} /*FEITO*/
.fundoPoke {
  margin-left: 330px;
  width: 150px;
  height: 150px;
  opacity: 0.8;
} /*FEITO*/
.Tipos {
  margin-left: 30px;
  margin-top: -20px;
} /*FEITO*/
.ImagemDoTipo {
  height: 15px;
} /*FEITO*/
.Tiposgrass {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(45, 88, 45);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tipospoison {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(109, 104, 136);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposfire {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(119, 6, 6);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposflying {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(159, 165, 223);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposwater {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(37, 58, 245);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposbug {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(167, 162, 100);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposnormal {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(156, 155, 133);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposelectric {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(197, 180, 25);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposground {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(129, 123, 67);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposfairy {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(230, 169, 214);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposfighting {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(156, 115, 77);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tipospsychic {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(136, 8, 119);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposrock {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(182, 159, 95);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tipossteel {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(158, 169, 179);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposice {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(154, 185, 214);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposghost {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(134, 97, 177);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/
.Tiposdragon {
  margin-left: 10px;
  position: relative;
  border-radius: 1px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  background-color: rgb(65, 107, 170);
  margin-top: -20px;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
} /*FEITO*/

.Detalhes {
  width: 500px;
  height: 250px;
} /*FEITO*/
#botoesDetalhes {
  padding: 10%;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} /*FEITO*/
#sobre {
  margin-right: 10px;
  color: rgb(12, 19, 12);
  border: 2px solid black;
  border-radius: 6px;
  background-color: #bdbdba;
} /*FEITO*/
#status {
  margin-right: 10px;
  color: rgb(12, 19, 12);
  border: 2px solid black;
  border-radius: 6px;
  background-color: #bdbdba;
} /*FEITO*/
#evolucao {
  margin-right: 10px;
  color: rgb(12, 19, 12);
  border: 2px solid black;
  border-radius: 6px;
  background-color: #bdbdba;
} /*FEITO*/
#voltar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-left: -10px;
  margin-right: 50px;
} /*FEITO*/
#Tudosobre {
  margin-left: 260px;
  border-radius: 10px;
  background-color: #c0c0c0;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 400px;
} /*FEITO*/
#TudosobreStatus {
  margin-left: 260px;
  border-radius: 10px;
  background-color: #c0c0c0;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 250px;
  display: none;
} /*FEITO*/
#TudosobreEvolution {
  margin-left: 260px;
  border-radius: 10px;
  background-color: #c0c0c0;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 500px;
  height: 200px;
  display: none;
} /*FEITO*/
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 6px;
  padding-left: 10px;
  overflow: visible;
} /*FEITO*/
#PokedexData {
  color: #08bb23;
  padding: 4px;
  font-style: normal;
  text-shadow: 1px 1px 2px black;
} /*FEITO*/
#pokemonInicial {
  height: 100px;
  margin-left: 100px;
}
#setaEvolution {
  height: 80px;
}
#pokemonEvoluido {
  height: 100px;
}
span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-left: 10px;
  margin-top: 10px;
  overflow: visible;
}
.invisivel {
  display: none;
} /*FEITP*/
.error {
  text-align: center;
} /*FEITP*/
.carregando {
  background: url(https://static.thenounproject.com/png/574915-200.png);
  margin: 5% auto;
  height: 200px;
  width: 200px;
  animation: spin 2s ease-in-out infinite;
} /*FEITP*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} /*FEITP*/
