* {
  box-sizing: border-box;
}
.BarrinhaBonita {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 20px;
}

.Loguinho {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  max-width: 300px;
  width: 100%;
}

body {
  background: linear-gradient(to top, #e61515 10%, #282828);
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.BarrinhaDeBusca {
  display: block;
  width: 100%;
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  align-items: center;
}

.TextoBusca {
  margin-bottom: 10px;
  font-size: 15pt;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
}

#formulario-busca {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

#buscar {
  border-radius: 0 5px 5px 0;
  appearance: none;
  border: 0;
  padding: 0;
  background: #2d71b5;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 19px;
}

.busca {
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  height: 40px;
  flex: 1;
  padding: 0 10px;
  font-size: 16px;
}

.Pokemaos {
  overflow-y: scroll;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  flex: 1;
}

ul {
  list-style-type: none;
}

.Todos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 20px;
}

.carregando {
  background: url(https://static.thenounproject.com/png/574915-200.png);
  margin: 5% auto;
  height: 200px;
  width: 200px;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invisivel {
  display: none;
}

.error {
  text-align: center;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 170px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  transition: 1s;
  box-sizing: border-box;
  justify-content: space-around;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.grass1 {
  background-color: #89c091;
}

.dragon1 {
  background-color: #8f9af1;
}

.ice1 {
  background-color: #d1f3f3;
}

.ghost1 {
  background-color: #beb9ec;
}

.rock1 {
  background-color: #d1ccb6;
}

.psychic1 {
  background-color: #d6517a;
}

.poison1 {
  background-color: #a18bbd;
}

.fighting1 {
  background-color: #da967d;
}

.fairy1 {
  background-color: #fbdffd;
}

.ground1 {
  background-color: #bbaf80;
}

.normal1 {
  background-color: #bbbdac;
}

.bug1 {
  background-color: #d8dbaf;
}

.electric1 {
  background-color: rgb(223, 216, 157);
}

.fire1 {
  background-color: #e68b8b;
}

.water1 {
  background-color: #afc0db;
}

.dark1 {
  background-color: #595b5f;
}

.steel1 {
  background-color: #92969c;
}

.ImagemPoke {
  position: relative;
}

.imagem {
  transform: rotateY(0deg);
  transition: transform 1s;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.imagem:hover {
  transform: scale(1.1) rotate(10deg);
}

.fundoPoke {
  width: 150px;
  height: 150px;
  z-index: 0;
  position: absolute;
  opacity: 0.5;
}

.infos {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.NumDoPoke {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: #393933;
  font-size: 14pt;
  font-weight: bold;
}

.NomeDoPoke {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: azure;
  font-size: 30pt;
  text-shadow: 1px 1px 2px black;
  margin-left: -3%;
  text-transform: capitalize;
}

.ImagemDoTipo {
  height: 15px;
  margin-right: 5px;
}

.Tipos {
  display: flex;
  margin-top: 5%;
}

.badge {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid black;
  height: 23px;
  text-shadow: 1px 1px 2px black;
  color: azure;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grass {
  background-color: rgb(45, 88, 45);
}

.poison {
  background-color: rgb(87, 81, 121);
}

.fire {
  background-color: rgb(119, 6, 6);
}

.water {
  background-color: rgb(99, 99, 206);
}

.flying {
  background-color: rgb(159, 165, 223);
}

.bug {
  background-color: rgb(167, 162, 100);
}

.normal {
  background-color: rgb(145, 144, 125);
}

.electric {
  background-color: rgb(197, 180, 25);
}

.ground {
  background-color: rgb(129, 123, 67);
}

.fairy {
  background-color: rgb(230, 169, 214);
}

.fighting {
  background-color: rgb(156, 115, 77);
}

.psychic {
  background-color: rgb(155, 9, 135);
}

.rock {
  background-color: rgb(182, 159, 95);
}

.steel {
  background-color: rgb(158, 169, 179);
}

.ice {
  background-color: rgb(154, 185, 214);
}

.ghost {
  background-color: rgb(134, 97, 177);
}

.dragon {
  background-color: rgb(65, 107, 170);
}

.dark {
  background-color: rgb(39, 43, 49);
}

.Detalhes {
  height: auto;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

span {
  text-transform: capitalize;
}

#botoesDetalhes {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sobre:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#sobre {
  color: rgb(12, 19, 12);
  border: 2px solid black;
  border-radius: 6px;
  background-color: #bdbdba;
}

#status {
  color: rgb(12, 19, 12);
  border: 2px solid black;
  border-radius: 6px;
  background-color: #bdbdba;
  width: 50px;
}

#status:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#Tudosobre {
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #c0c0c0;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  max-width: calc(500px - 20px);
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  transition: 1s;
  box-sizing: border-box;
}

#Tudosobre:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#TudosobreStatus {
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #c0c0c0;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  max-width: calc(500px - 20px);
  display: none;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  transition: 1s;
  box-sizing: border-box;
  padding: 2%;
}

#TudosobreStatus:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#Tudosobre p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 3%;
}

#PokedexData {
  color: #08bb23;
  padding: 3%;
  text-shadow: 1px 1px 2px black;
}

#TudosobreStatus div {
  margin-bottom: 5px;
}

#TudosobreStatus span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.BarrinhaDeBuscaDoDetalhes {
  display: flex;
  max-width: 430px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.TextoDetalhes {
  margin-bottom: 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-size: 15pt;
}

.back {
  border: 0;
  padding: 0;
  color: black;
  padding: 5px;
}

#voltar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-right: 20px;
}

#error p {
  padding: 3%;
  font-size: 15pt;
}

@media (max-width: 680px) {
  #sobre {
    margin-bottom: 10px;
  }

  #status {
    width: 50px;
  }
}

@media (max-width: 610px) {
  .Detalhes {
    padding: 25%;
  }
}

@media (max-width: 530px) {
  .imagem {
    height: 120px;
    width: 120px;
  }

  .fundoPoke {
    height: 120px;
    width: 120px;
  }

  .infos {
    padding: 0%;
    margin-top: -15px;
  }

  .Detalhes {
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ImagemPoke {
    margin-top: 10px;
  }
}

@media (max-width: 1400px) {
  .Todos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 940px) {
  .Todos {
    grid-template-columns: repeat(1, 1fr);
  }
}

.DetailsNe {
  display: block;
}
